.orderCardContainer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  clear: both;
}

.doneButton {
  background-color: #ef4e42;
  position: absolute;
  right: 0;
  padding: 10px 30px;
  font-size: 2em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-right: 20px;
}
