.orderCard {
  border: 1px solid #ef4e42;
  border-radius: 5px;
  margin: 15px;
  padding: 5px 20px 20px 20px;
  width: 25%;
  cursor: pointer;
  background-color: floralwhite;
}

.orderCard:hover {
  border: 1.5px solid black;
}

.orderCard.disabled {
  border: 1px solid dimgrey;
  pointer-events: none;
}

.orderCardHeader {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.customerName {
  margin: 15px 0;
  color: #ef4e42;
}

.notReady {
  margin-top: auto;
  margin-bottom: auto;
  color: dimgrey;
}

.ready {
  margin-top: auto;
  margin-bottom: auto;
  color: #ef4e42;
}
