.orderCard {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 15px;
  padding: 5px 20px 20px 20px;
  width: 25%;
}

.orderCardHeader {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.customerName {
  margin: 15px 0;
  color: blue;
}

.notReady {
  margin-top: auto;
  margin-bottom: auto;
  color: firebrick;
}

.ready {
  margin-top: auto;
  margin-bottom: auto;
  color: darkgreen;
}
